<h2>Admin Dashboard</h2>

<ul>    
    <li><a asp-controller="Book" asp-action="Index">Manage Books</a></li>
    <li><a asp-controller="User" asp-action="Index">Manage Users</a></li>
    <li><a asp-controller="Author" asp-action="Index">Manage Authors</a></li>
    <li><a asp-controller="Publisher" asp-action="Index">Manage Publishers</a></li>
</ul>
