@{
    ViewData["Title"] = "Welcome to Library App";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-controller="Account" asp-action="Login">
    <div>
        <label for="userName">Username:</label>
        <input type="text" id="userName" name="userName" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
    <p>@ViewBag.ErrorMessage</p>
</form>