<h2>Welcome to your Dashboard</h2>

<form method="get" action="/Book/Search">
    <input type="text" name="searchString" placeholder="Search for books" />
    <input type="submit" value="Search" />
</form>
